<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- ⭐ -->
  <title>메인 페이지</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% include 'layout/header.html' %}
  <!-- <div class="container">
    <div class="section">
      <h2>MSP 작업관리</h2>
      <table>
        <thead>
          <tr><th>요청일자</th><th>고객사</th><th>시스템명</th><th>담당자</th><th>상태</th><th>요청내용</th></tr>
        </thead>
        <tbody>
          {% for r in msp_reports %}
            <tr>
              <td>{{ r.request_date.strftime('%Y-%m-%d') }}</td>
              <td>{{ r.client_name }}</td>
              <td>{{ r.system_name }}</td>
              <td>{{ r.manager }}</td>
              <td>{{ r.status }}</td>
              <td>{{ r.request_content }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="button-group"><button onclick="location.href='/reports'">자세히 보기</button></div>
    </div>

    <div class="section">
      <h2>장애관리</h2>
      <table>
        <thead>
          <tr><th>장애발생일자</th><th>고객사</th><th>시스템명</th><th>담당자</th><th>상태</th><th>요청내용</th></tr>
        </thead>
        <tbody>
          {% for r in error_reports %}
            <tr>
              <td>{{ r.error_start_date.strftime('%Y-%m-%d') }}</td>
              <td>{{ r.client_name }}</td>
              <td>{{ r.system_name }}</td>
              <td>{{ r.manager }}</td>
              <td>{{ r.status }}</td>
              <td>{{ r.error_info }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="button-group"><button onclick="location.href='/error_reports'">자세히 보기</button></div>
    </div>

    <div class="section">
      <h2>일지</h2>
      <table>
        <thead>
          <tr><th>작성일자</th><th>고객사</th><th>시스템명</th><th>담당자</th><th>상태</th><th>요청내용</th></tr>
        </thead>
        <tbody>
          {% for r in log_reports %}
            <tr>
              <td>{{ r.log_date.strftime('%Y-%m-%d') }}</td>
              <td>{{ r.client_name }}</td>
              <td>{{ r.system_name }}</td>
              <td>{{ r.manager }}</td>
              <td>{{ r.status }}</td>
              <td>{{ r.content }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="button-group"><button onclick="location.href='/log_reports'">자세히 보기</button></div>
    </div>
  </div> -->
</body>
</html>
